---
import { Hero as HeroComponent } from "../../components/hero/hero";
import { Wordmark } from "../../components/hero/wordmark";

import { frontmatter as page } from "../../content/pages/index.mdx";
---

<header
  class="container pt-3 @[1000px]:pt-8 @[1000px]:px-5 flex flex-col justify-center min-h-screen"
>
  <div class="flex flex-col">
    <div
      class="pl-5 relative pt-3 @[800px]:pl-10 pb-5 before:contrast-[6] before:gradient-mask-t-0 before:absolute before:left-0 before:top-0 before:right-0 before:bottom-0 before:bg-[radial-gradient(var(--tw-gradient-stops))] before:bg-repeat-round before:bg-left-top before:bg-[size:1em_1em] before:from-primary before:opacity-50 before:to-accent-white before:animate-[shimmer_30s_linear_infinite]"
    >
      <Wordmark value={page.wordmark} />
    </div>
    <HeroComponent
      heading={page["hero_title"]}
      body={page["hero_subtitle"]}
      client:load
    />
  </div>
  <div
    class="relative pt-10 @[800px]:pl-10 pb-5 before:contrast-[6] before:gradient-mask-b-0 before:absolute before:left-0 before:top-0 before:right-0 before:bottom-0 before:bg-[radial-gradient(var(--tw-gradient-stops))] before:bg-repeat-round before:bg-left-top before:bg-[size:1em_1em] before:from-primary before:opacity-50 before:to-accent-white before:animate-[shimmer_30s_linear_infinite]"
  >
  </div>
</header>
