---
import { Hero as HeroComponent } from "../../components/hero/hero";
import { Wordmark } from "../../components/hero/wordmark";

import { frontmatter as page } from "../../content/pages/index.mdx";
---

<header class="container pt-10 grid-rows-1 grid">
  <div class="row-start-1 col-start-1">
    <Wordmark value={page.wordmark} />
  </div>
  <div class="row-start-1 col-start-1">
    <HeroComponent
      heading={page["hero_title"]}
      body={page["hero_subtitle"]}
      client:load
    />
  </div>
</header>
