---
import { Animation } from "../../components/hero-animation/animation";
import HeroWrapper from "../../components/hero-wrapper.astro";
import SelfIndentingText from "../../components/typography/self-indenting-text";
import Typography from "../../components/typography/typography";

import { frontmatter as page } from "../../content/pages/index.mdx";
---

<HeroWrapper>
  <div
    class="hero-content lg:grid grid-cols-24 flex-col px-5 @[1000px]:px-16 pt-10 pb-14"
  >
    <div class="col-span-9 row-start-1 col-start-4 w-3/4 @[1000px]:w-full py-5">
      <Animation client:load />
    </div>
    <div class="col-span-10 col-start-13 row-start-1">
      <Typography
        as="h2"
        variant="heading"
        size="large"
        className="@[1000px]:-ml-[1ch] font-bold text-left @[1000px]:text-left [filter:brightness(0)_saturate(100%)_invert(10%)_sepia(14%)_saturate(1963%)_hue-rotate(176deg)_brightness(93%)_contrast(85%)]"
      >
        <SelfIndentingText set:html={page["hero_title"].join(",")} />
      </Typography>
      <Typography as="p" className="py-6" set:html={page["hero_subtitle"]} />
    </div>
  </div>
</HeroWrapper>
