---
import type { CollectionEntry } from "astro:content";
import { Github } from "./icons/github";
import { Open } from "./icons/open";
import Typography from "./typography/typography";

interface Props {
  project: CollectionEntry<"projects">;
  invert?: boolean;
}

const { project, invert } = Astro.props;

const { Content } = await project.render();
---

<article class="size-full flex flex-col @[1000px]:grid grid-cols-2" ,>
  <iframe
    src={project.data.url}
    scrolling="no"
    class:list={[
      "size-full overflow-hidden aspect-square",
      invert ? "@[1000px]:order-1" : "",
    ]}></iframe>
  <div class="flex flex-col justify-center gap-8 p-16 pt-8">
    <Typography variant="heading" size="medium" as="h2">
      {project.data.title}
    </Typography>
    <Typography variant="body" size="medium"><Content /></Typography>
    <div class="flex gap-6">
      <a href={project.data.clickthrough}>
        <Github
          className="fill-secondary h-[28px] w-[28px] hover:fill-accent-white"
        />
      </a>
      <a href={project.data.url}>
        <Open
          className="fill-secondary h-[28px] w-[28px] hover:fill-accent-white"
        />
      </a>
    </div>
  </div>
</article>
