---
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";
import Typography from "../typography/typography";

type JobProps = CollectionEntry<"jobs">;

const { data } = Astro.props as JobProps;
---

<Typography
  as="div"
  variant="body"
  size="medium"
  className="flex flex-col gap-7 @[650px]:p-3"
>
  <Typography variant="heading" size="small">
    {data.company}
  </Typography>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-0 leading-4 flex-1">
      <Typography variant="body" size="large" className="font-medium">
        {data.role}
      </Typography>
      <Typography variant="body" size="medium" className="leading-5">
        {
          `${dayjs(data.startDate).format("MMM YYYY")} - ${
            data.endDate ? dayjs(data.endDate).format("MMM YYYY") : "Present"
          }`
        }
      </Typography>
    </div>
    <div
      class="flex flex-row flex-wrap justify-start items-start flex-1 gap-x-4 gap-y-2"
    >
      {
        data.tech.map((tech) => (
          <span class="badge py-3 px-4">
            <Typography
              variant="body"
              size="x-small"
              className="text-secondary"
            >
              {tech}
            </Typography>
          </span>
        ))
      }
    </div>
  </div>
  <slot />
</Typography>
