@import './set-fonts';
@import './mixins';

@include setFontFamilies();

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 20px;
$heading_scaling_modifier_min: 0.7;
$heading_scaling_modifier_max: 0.9;

@for $i from 1 through 6 {
    h#{$i} {
        @include fluid-type($min_width, $max_width, ($heading_scaling_modifier_min*(6-$i)) *$min_font, ($heading_scaling_modifier_max*(6-$i)) *$min_font, true);
        margin: 0.3em 0 !important;
        line-height: 1;
    }
}  

html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  font-family: var(--body);
  color: var(--secondary);
}

body {
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading);
}